
@import './node_modules/bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Spectral:wght@500;600&display=swap');

// Main Colors

$navy: #143365;
$white: #FFE7AD;
$gray: #434343;
$yellow: #ffc847;
$blue: #4361ee;




$font-family-base:     'Karla', sans-serif;
$font-family-heading:  'Spectral', serif;

$navbar-light-color:  $navy;
$navbar-light-hover-color:  $white;
$navbar-light-active-color:  $white;
$navbar-light-toggler-border-color: transparent;
$navbar-light-brand-color:  $navy;
$navbar-light-brand-hover-color: $navy;
$navbar-nav-link-padding-x:  1rem;



$btn-text-color: $yellow;
$btn-text-color-hover: $white;
$btn-background:$blue;


$card-border-radius: 0rem;
$card-border-color: $yellow;

$body-bg: $white;
$main-bg: $navy;
$secondary-bg: $yellow;
$overlay-bg: $yellow;


$heading-text-color: $yellow;
$main-text-color: $white;
$navbar-bg-color:$white;






@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/bootstrap';